[user]
    email = csssuf@csssuf.net
    name = James Forcier
    signingKey = 9A2529A04873D9779E677F864383A5533F702898

[core]
    editor = vim

[credential]
    helper = cache --timeout=86400

[push]
    default = simple

[url "git@github.com:"]
    pushInsteadOf = "git://github.com/"

[rebase]
    autosquash = true

[sendemail]
    from = James Forcier <csssuf@csssuf.net>
    smtpserver = smtp.fastmail.com
    smtpuser = csssuf@csssuf.net
    smtpencryption = tls
    smtpserverport = 587
